.btn-to-top {
  position: fixed;
  right: 3vw;
  z-index: 1000;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ff6b08;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  color: white;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;

  animation: animatebtn 1800ms ease-in-out infinite;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes animatebtn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.btn-to-top--visible {
  opacity: 1;
  visibility: visible;
}

.btn-to-top:hover {
  background-color: #ff001b;
}
.btn-to-top {
  bottom: 110px;
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 480px) {
  .btn-to-top {
    bottom: 110px;
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 768px) {
  .btn-to-top {
    bottom: 100px;
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .btn-to-top {
    bottom: 100px;
    width: 50px;
    height: 50px;
  }
}
