.is-hiden{
        display: none;
}


.backdrop{
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 1;
       
       
}

.modal {
        position: absolute;
        background-color: #fff;
        width: 90%;
        height: 90%;
        margin: 20px;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 45%;
        &__close-btn {
        position: absolute;
        transform: translate(-50%, -50%);
        right: -4%;
        top: 4%;
        background: transparent;
        border: none;
        font-size: 0;
                }
        }
        
.modal-container{
                width: 100%;
                height: 100%;
                padding-top: 48px;
                padding-bottom: 40px;
                padding-left: 20px;
                padding-right: 20px;
                overflow-y: scroll;
        
        
        
        &__img {
                object-fit: contain;
                width: 100%; 
                border-radius: 5px;           
        }
        &__title{
                font-weight: 500;
                font-size: 20px;
                line-height: calc(23/20);
                margin-top: 20px;
                margin-bottom: 20px;
        }
       &__info{
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        
       &--key{
        width: 120px;}

        &--keytext{
                color: #8C8C8C;
                font-size: 12px;
                font-weight: 500;
                line-height: calc(16/12);
                margin-bottom: 8px;}
        &--valuetext{
                font-size: 12px;
                font-weight: 500;
                line-height: calc(16/12);
                margin-bottom: 8px;}
        }
       
       
       &__second-title {
               font-weight: 500;
               font-size: 12px;
               line-height: calc(16/12);
               margin-bottom: 8px;
       }

       &__description {
               font-weight: 500;
               font-size: 12px;
               line-height: calc(20/12);
               margin-bottom: 20px;
       }
       

}

.trailers {
        padding: 40px;
        position: absolute;
        bottom: 0%;
        right: 0;
        background: transparent;
        border: none;
        font-size: 0;

}

.watched {
        width: 110px;
        height: 44px;
        background-color: #fff;
        border: 1px solid #000000;
        border-radius: 5px;
}
.avarage-effects{
        display: inline-block;
        background-color: #FF6B01;
        border-radius: 5px;
        width: 36px;
        height: 16px; 
        text-align: center;
}
.count-effect{
        display: inline-block;
        background-color: #F7F7F7;
        border-radius: 5px;
        width: 36px;
        height: 16px;
}