// .modal-signup-window {
//   opacity: 1;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 100%;
//   height: 100%;
//   background-color: #b51515;
// }

// .backdrop {
//   // position: fixed;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   background-color: rgba(0, 0, 0, 0.2);
//   transition-property: opacity;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .signup {
//   padding: 40px;
// }

li {
  list-style: none;
}

.window-position-rel {
  position: relative;
}

// .modal-registration {
//   position: fixed;
//   transform: translate(100%, 100%);
// }

.modal-signup-window {
  background-color: rgb(204, 255, 0);
  width: 600px;
  position: absolute;
  transform: translate(50%, 50%);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: none;
}

.singup-form {
  display: flex;
  padding: 40px;
}

.signup-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form {
  display: flex;
  padding: 40px;
}

.login-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-logout {
  text-align: center;
  margin-bottom: 20px;
}

.logout {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin-top: 30px;
  background-color: #188ce8;
  color: orange;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: none;
}

.bg-image {
  padding: 100px;
  display: block;
  object-fit: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/wallpaper-big.jpg);
  // margin-right: auto;
  // margin-left: auto;
  // position: fixed;
}

.hidden {
  display: none;
  opacity: 0;
}

.window-fixed {
  position: fixed;
  z-index: 111;
}

.modal-login {
  // position: fixed;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  // position: fixed;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  // pointer-events: none;
  opacity: 1;
  // visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // z-index: 99999;
}

.close-modal-bth {
  position: absolute;
}

.auth {
  width: 55vh;
  height: 60vh;
  background-color: #188ce8;
}

// #modal_cinw_ctnr {
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.7);
//   text-align: center;
//   z-index: 9999;
// }

// #modal_cinw_ctnr::after {
//   display: inline-block;
//   vertical-align: middle;
//   width: 0;
//   height: 100%;
//   content: '';
// }

// .modal_cinw {
//   padding: 10px;
//   display: inline-block;
//   vertical-align: middle;
//   position: relative;
//   text-align: left;
//   background: #fff;
// }

// .modal_close {
//   position: absolute;
//   top: 0;
//   right: 0;
//   cursor: pointer;
// }
// .modal_close:hover {
//   background: #000;
//   color: #fff;
// }

.signup-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  // pointer-events: none;
  // opacity: 0;
  // visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
