.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
//Phone styles

.modal {
  position: absolute;
  border-radius: 5px;
  background-color: #fff;
  width: 90%;
  height: 90%;
  max-height: 940px;
  margin: 20px;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 45%;
  &__close-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    right: 0%;
    top: 5%;
    background: transparent;
    border: none;
    font-size: 0;
  }
}

.modal-container {
  width: 100%;
  height: 100%;
  padding-top: 62px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
  overflow-x: hidden;

  // display: flex;
  // justify-content: center;
  // align-items: baseline;

  &__img {
    object-fit: contain;
    width: 100%;
    border-radius: 5px;
  }
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(23 / 20);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__info {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;

    &--key {
      width: 120px;
    }

    &--keytext {
      color: #8c8c8c;
      font-size: 12px;
      font-weight: 500;
      line-height: calc(16 / 12);
      margin-bottom: 8px;
    }
    &--valuetext {
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 8px;
      vertical-align: middle;
    }
  }

  &__second-title {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.5;
    word-spacing: 0.5;
    margin-bottom: 8px;
  }

  &__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.5;
    word-spacing: 0.5;
    word-spacing: 0.5;
    margin-bottom: 35px;
    overflow-y: auto;
  }
}

// trailers btn in modal
.image-btn-wrapper {
  position: relative;
}
.trailers {
  display: flex;
  align-items: center;
  width: 110px;
  top: -35px;
  left: 10;
  background: #ffffff;
  border: 1px solid #000000;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33333;
  text-transform: uppercase;
  border-radius: 5px;
  &:hover,
  &:focus {
    background-color: #ff6b01;
    color: #ffffff;
  }
  &:hover .icon-youtube,
  &:focus .icon-youtube {
    width: 35px;
    height: 35px;
  }
}
.icon-youtube {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
}

// container for buttons 'Add to watched' and 'queue'
.btn-container {
  display: flex;
  justify-content: space-between;
}

// Efects for buttons 'Add to watched' and 'queue'
.watched {
  width: 110px;
  height: 44px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  &:hover,
  &:focus {
    color: #fff;
    background-color: #ff6b01;
    border: none;
  }
}
.disabled{
  width: 110px;
  height: 44px;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  
}
.queue {
  width: 110px;
  height: 44px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  &:hover,
  &:focus {
    color: #fff;
    background-color: #ff6b01;
    border: none;
  }
}

// effects for votes
.avarage-effects {
  display: inline-block;
  color: #fff;
  background-color: #ff6b01;
  border-radius: 5px;
  padding: 2px;
  width: 36px;
  height: 16px;
  text-align: center;
}
.count-effect {
  padding: 2px;

  display: inline-block;
  background-color: #f7f7f7;
  border-radius: 5px;
  width: 36px;
  height: 16px;
}

//Tablet styles
@media screen and (min-width: 768px) {
  .modal {
    left: 48.5%;
    max-height: 500px;
    width: 60%;
    min-width: 710px;
  }

  .modal-container {
    display: flex;
    gap: 68;
    padding-left: 36px;
    padding-right: 36px;

    &__img {
      height: 100%;
      width: auto;
      margin: auto 0;
    }

    &__fullInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &__title {
      margin-top: 0;
    }
    &__description {
      margin-bottom: 15px;
    }
  }

  .watched {
    max-width: 125px;
  }

  .queue {
    max-width: 125px;
  }

  // desktop styles
  @media screen and (min-width: 1280px) {
    .modal {
      width: 806px;
      &__close-btn {
        right: -1%;
      }
    }
    .modal-container {
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;
      gap: 16;

      &__title {
        font-size: 30px;
        line-height: calc(35 / 30);
      }
      &__description{
        overflow-y: none;
      }
    }
    .btn-container {
      display: flex;
      justify-content: flex-start;
      gap: 15;
      padding-left: 8px;
    }
  }
}
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__close-btn {
  cursor: pointer;
}
html.dark .modal {
  background-color: rgb(83, 83, 83);
}
html.dark .count-effect {
  color: rgb(32, 32, 32);
  text-align: center;
}

html.dark .modal__close-btn {
  -webkit-filter: invert(1);
  filter: invert(1);
}
html.dark .trailers:hover .icon-youtube {
  -webkit-filter: invert(1);
  filter: invert(1);
}
