.theme-container {
    // position: absolute;
    // top: 0;
    // z-index: 3;
}

.theme {
    display: flex;
    position: relative;
}

// Кнопка скидання теми
.theme__reset {
    opacity: 0;
    visibility: hidden;

    background: none;
    border: none;
}

.theme__reset.active {
    opacity: 1;
    visibility: visible;
}

.theme__reset::before {
    content: "x";
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    width: 8px;
    height: 8px;
    border-radius: 50%;
    font-size: 6px;
    color: white;
    background-color: black;
    line-height: 7px;
    text-align: center;
}

// Кнопка
.theme__on {
    padding: 15px 15px;
    margin: auto;
    border: none;
    background: transparent;
}
