@import "~node_modules/modern-normalize/modern-normalize.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #545454;
  border-radius: 5px;
  border: 1px solid #545454;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body,
html {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: 100%;
  padding: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 58px 32px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }
}
.header-main {
  background: rgba(0, 0, 0, 0.56);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 230px;
  background-image: url("../images/home/home-320.png");
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .header-main {
    background-image: url("../images/Home/home-320-2x.png");
  }
}
@media screen and (min-width: 768px) {
  .header-main {
    min-height: 216px;
    background-image: url("../images/home/home-768.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-main {
    background-image: url("../images/home/home-768-2x.png");
  }
}
@media screen and (min-width: 1280px) {
  .header-main {
    min-width: 1280px;
    min-height: 216px;
    background-image: url("../images/home/home-1280.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header-main {
    background-image: url("../images/home/home-1280-2x.png");
  }
}

.header-library {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header-library.svg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/library/liba-320.png");
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/library/liba-320-2x.png");
  }
}
@media screen and (min-width: 768px) {
  .header-library {
    min-height: 216px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/library/liba-768.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/library/liba-768-2x.png");
  }
}
@media screen and (min-width: 1280px) {
  .header-library {
    min-width: 1280px;
    min-height: 216px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/library/liba-1280.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/library/liba-1280-2x.png");
  }
}

.header-home,
.header-library {
  height: 230px;
  display: flex;
  flex-direction: column;
  padding: 40px 0 15px 0;
}

.header-wrapper,
.header-library-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  height: 100%;
  position: relative;
}

.nav-list__item {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-list__link.current {
  border-bottom: 3px solid #ff001b;
}

.nav-list__link {
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:visited {
  color: white;
}

.form-wrapper {
  position: relative;
  justify-content: normal;
  margin-top: 90px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-wrapper:hover,
.form-wrapper:focus {
  transform: scale(1.05);
  box-shadow: inset 3px -10px 25px -15px #ff001b;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

.input-query {
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid white;
  font-size: 14px;
  line-height: 1.16;
  width: 100%;
  outline: none;
  color: white;
}

.input-query::-moz-placeholder {
  color: white;
}

.input-query:-ms-input-placeholder {
  color: white;
}

.input-query::placeholder {
  color: white;
}

.input-answer {
  color: #ff001b;
  margin: 16px auto 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
}

.submit-search-button {
  position: absolute;
  right: 6;
  bottom: -5;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

.buttons-header-nav-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 62px;
}

.button-watched,
.button-queue {
  height: 44px;
  width: 130px;
  border: none;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  transition: all 500ms ease;
}

.button-watched:hover,
.button-queue:hover,
.button-watched:focus,
.button-queue:focus {
  background: #ff6b01;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border: none;
}

.logo {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover,
.nav-list__link:focus,
.logo:hover,
.logo:focus {
  transform: scale(1.1);
}

.header__icon_logo {
  -webkit-animation: animatear 5000ms linear infinite;
          animation: animatear 5000ms linear infinite;
}

@-webkit-keyframes animatear {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes animatear {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.logo-text {
  display: none;
  text-transform: none;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
}

@media screen and (min-width: 480px) {
  .form-wrapper {
    width: 336px;
    margin: 0 auto;
    margin-top: 54px;
  }
  .form-wrapper {
    margin-top: 74px;
    width: 260px;
  }
  .header-home {
    margin: 0 auto;
  }
  .header-wrapper,
.header-library-wrapper {
    padding: 0 32px;
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .header-library {
    height: 219px;
  }
  .header-home {
    height: 216px;
  }
  .form-wrapper {
    margin-top: 40px;
  }
  .logo-text {
    display: block;
  }
  .buttons-header-nav-wrapper {
    margin-top: 40px;
    gap: 32px;
  }
  .button-watched,
.button-queue {
    width: 152px;
  }
  .header-wrapper,
.header-library-wrapper {
    padding: 0 32px;
    width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .header-home,
.header-library {
    padding: 40px 0 60px 0;
  }
  .header-library {
    height: 216px;
  }
  .form-wrapper {
    width: 394px;
  }
  .button-watched,
.button-queue {
    width: 147px;
    height: 42px;
  }
  .buttons-header-nav-wrapper {
    gap: 16px;
  }
  .header-wrapper,
.header-library-wrapper {
    padding: 0 32px;
    width: 1280px;
    margin: 0 auto;
  }
}
.movie-gallery,
.movie-gallery-library {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .movie-gallery,
.movie-gallery-library {
    width: 100%;
    flex-basis: calc((100% - 32px) / 2);
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-gallery,
.movie-gallery-library {
    row-gap: 32px;
    -moz-column-gap: 16px;
         column-gap: 16px;
    flex-basis: calc((100% - 32px) / 3);
  }
}

.movie-gallery__item {
  transition: transform 300ms;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  max-width: 280px;
}
@media screen and (min-width: 768px) {
  .movie-gallery__item {
    max-width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-gallery__item {
    max-width: 394px;
  }
}
.movie-gallery__item:hover {
  transform: scale(1.04);
}

.movie-gallery__poster {
  position: relative;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .movie-gallery__poster {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-gallery__poster {
    margin-bottom: 12px;
  }
}

.movie-gallery__photo {
  width: 280px;
  height: 398px;
  border-radius: 5px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 768px) {
  .movie-gallery__photo {
    width: 336px;
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-gallery__photo {
    width: 394px;
    height: 574px;
  }
}

.movie-gallery__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3333333333;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (min-width: 1280px) {
  .movie-gallery__title {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3333333333;
  font-size: 14px;
  display: flex;
  gap: 5px;
  color: #ff6b08;
}
@media screen and (min-width: 1280px) {
  .movie-info {
    font-size: 16px;
    line-height: 1.25;
  }
}

.movie-info__vote {
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 40px;
  min-height: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #ff6b01;
  color: #ffffff;
}

.pagination-list {
  margin-top: 60;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10;
}

.pgn-current {
  background-color: #ff6b08;
  color: #ffffff;
  border: none;
}

.pgn-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40;
  height: 40;
  border-radius: 5;
  border-color: transparent;
  border-width: 3px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pgn-btn:hover,
.pgn-btn:focus {
  border-color: #ff6b08;
}

.next {
  padding: 0;
}

.pgn-dots {
  display: none;
}

.last-number {
  display: none;
}

.first-number {
  display: none;
}

@media screen and (min-width: 768px) {
  .pgn-dots {
    display: block;
    width: 32;
    height: 40;
    text-align: center;
    font-size: 24;
  }
  .last-number {
    display: block;
  }
  .first-number {
    display: block;
  }
  .pgn-mobile {
    display: none;
  }
}
.footer {
  background-color: #f7f7f7;
  text-align: center;
  padding: 30px;
  margin-top: auto;
}

.footer-copy {
  display: block;
}
@media screen and (max-width: 767px) {
  .footer-copy {
    margin-bottom: 9px;
  }
}
@media screen and (min-width: 768px) {
  .footer-copy {
    display: inline-block;
  }
}

.footer-text {
  color: #545454;
  font-size: 14px;
  line-height: 1.1721428571;
}
@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 16px;
    line-height: 1.171875;
  }
}

.footer-heart {
  color: #ff6b08;
  -webkit-animation: beat 340ms infinite alternate;
          animation: beat 340ms infinite alternate;
  margin-left: 10px;
  margin-right: 10px;
}

@-webkit-keyframes beat {
  to {
    transform: scale(1.25);
  }
}

@keyframes beat {
  to {
    transform: scale(1.25);
  }
}
.footer-link {
  color: #545454;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: #ff6b08;
}

.link-underline {
  text-decoration: underline;
}

body.show-modal .team-backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .team-modal {
  transform: scale(1);
}

body.show-modal {
  overflow: hidden;
}

.team-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-modal {
  padding: 24px;
  border-radius: 4px;
  max-width: 300px;
  min-width: 320px;
  max-height: 90vh;
  width: 100%;
  overflow-y: scroll;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transform: scale(0.000001);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .team-modal {
    max-width: 750px;
  }
}
@media screen and (min-width: 1280px) {
  .team-modal {
    max-width: 950px;
  }
}

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.main-container {
  width: 270px;
  height: 400px;
  position: relative;
}

.card-container {
  width: 230px;
  position: absolute;
  left: 34px;
  z-index: 9999;
}

.team-card {
  width: 100%;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}

.team-info {
  background: #fff;
  width: 285px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
  opacity: 0;
}

.main-container:hover .team-info {
  opacity: 1;
  -webkit-animation: bounceIn 0.6s linear;
          animation: bounceIn 0.6s linear;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.03, 1.03, 1.03);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.01, 1.01, 1.01);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.03, 1.03, 1.03);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.01, 1.01, 1.01);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
.team-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.team-name {
  color: #545454;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.171875;
}

.team-position {
  color: #ff6b08;
  font-size: 16px;
  line-height: 1.171875;
  margin-bottom: 20px;
}

.team-title {
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 42px;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .team-title {
    margin-top: 35px;
  }
}

.team-text {
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
  margin: 0 5px;
}

.team-text:nth-child(even) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

@-webkit-keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #fff;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px #ff6b08, 0 0 20px #ff6b08, 0 0 40px #ff6b08, 0 0 80px #ff6b08, 0 0 160px #ff6b08, 0 0 400px #ff6b08;
  }
}

@keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #fff;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px #ff6b08, 0 0 20px #ff6b08, 0 0 40px #ff6b08, 0 0 80px #ff6b08, 0 0 160px #ff6b08, 0 0 400px #ff6b08;
  }
}
.glowing-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #ff6b08;
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid #ff6b08;
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1em;
  box-shadow: inset 0px 0px 0.5em 0px #ff6b08, 0px 0px 0.5em 0px #ff6b08;
  -webkit-animation: border-flicker 2s linear infinite;
          animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  text-shadow: 0 0 0.125em hsla(0deg, 0%, 100%, 0.3), 0 0 0.45em #ff6b08;
  -webkit-animation: text-flicker 3s linear infinite;
          animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  -webkit-animation: faulty-flicker 2s linear infinite;
          animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: #ff6b08;
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: #ff6b08;
  box-shadow: 0 0 2em 0.2em #ff6b08;
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: #545454;
  text-shadow: none;
  -webkit-animation: none;
          animation: none;
}

.glowing-btn:hover .glowing-txt {
  -webkit-animation: none;
          animation: none;
}

.glowing-btn:hover .faulty-letter {
  -webkit-animation: none;
          animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@-webkit-keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }
  87% {
    opacity: 1;
  }
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }
  87% {
    opacity: 1;
  }
}
@-webkit-keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  8% {
    opacity: 0.1;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}
@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  8% {
    opacity: 0.1;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}
@-webkit-keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }
  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }
  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.team-modal::-webkit-scrollbar {
  width: 8px;
}

.team-modal::-webkit-scrollbar-track {
  background: #fff;
}

.team-modal::-webkit-scrollbar-thumb {
  background-color: #545454;
  border-radius: 5px;
  border: 1px solid #545454;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.modal {
  position: absolute;
  background-color: #fff;
  width: 90%;
  height: 90%;
  margin: 20px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 45%;
}
.modal__close-btn {
  position: absolute;
  transform: translate(-50%, -50%);
  right: -4%;
  top: 4%;
  background: transparent;
  border: none;
  font-size: 0;
}

.modal-container {
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
}
.modal-container__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  border-radius: 5px;
}
.modal-container__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-top: 20px;
  margin-bottom: 20px;
}
.modal-container__info {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.modal-container__info--key {
  width: 120px;
}
.modal-container__info--keytext {
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333;
  margin-bottom: 8px;
}
.modal-container__info--valuetext {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3333333333;
  margin-bottom: 8px;
}
.modal-container__second-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3333333333;
  margin-bottom: 8px;
}
.modal-container__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6666666667;
  margin-bottom: 20px;
}

.trailers {
  position: absolute;
  bottom: 0%;
  right: 0;
  background: transparent;
  border: none;
  font-size: 0;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.watched {
  width: 110px;
  height: 44px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3333333333;
}
.watched:hover, .watched:focus {
  color: #fff;
  background-color: #ff6b01;
  border: none;
}

.queue {
  width: 110px;
  height: 44px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3333333333;
}
.queue:hover, .queue:focus {
  color: #fff;
  background-color: #ff6b01;
  border: none;
}

.avarage-effects {
  display: inline-block;
  background-color: #ff6b01;
  border-radius: 5px;
  width: 36px;
  height: 16px;
  text-align: center;
}

.count-effect {
  display: inline-block;
  background-color: #f7f7f7;
  border-radius: 5px;
  width: 36px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .modal {
    left: 47%;
  }
  .modal__close-btn {
    right: -3%;
  }
  .modal-container {
    display: flex;
    gap: 68;
    padding-left: 36px;
    padding-right: 72px;
  }
  .modal-container__img {
    height: 375px;
  }
  .modal-container__fullInfo {
    display: flex;
    flex-direction: column;
  }
  .modal-container__title {
    margin-top: 0;
  }
  .watched {
    width: 125px;
  }
  .queue {
    width: 125px;
  }
}
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-to-top {
  position: fixed;
  right: 3vw;
  z-index: 1;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ff6b08;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  color: white;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-animation: animatebtn 1800ms ease-in-out infinite;
          animation: animatebtn 1800ms ease-in-out infinite;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes animatebtn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animatebtn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.btn-to-top--visible {
  opacity: 1;
  visibility: visible;
}

.btn-to-top:hover {
  background-color: #ff001b;
}

.btn-to-top {
  bottom: 110px;
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 480px) {
  .btn-to-top {
    bottom: 110px;
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 768px) {
  .btn-to-top {
    bottom: 100px;
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-to-top {
    bottom: 100px;
    width: 50px;
    height: 50px;
  }
}
.loader-wrap {
  display: flex;
  justify-content: center;
}

.loader {
  opacity: 0.5;
  width: 30vh;
}

.loader.hidden {
  display: none;
}

.theme-container {
  width: 100px;
  right: 0;
  bottom: -2rem;
  position: absolute;
}
@media screen and (max-width: 480px) {
  .theme-container {
    top: 0.33rem;
    left: -8rem;
  }
}

.theme {
  width: 100%;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: end;
  gap: 3px;
  padding: 3px;
}

.theme::before {
  content: "";
  background-image: url("../images/theme.png");
  background-size: contain;
  width: 12px;
  height: 12px;
  display: block;
}

.theme__list {
  width: 70px;
  border-radius: 5px;
  background-color: rgb(42, 42, 42);
  padding: 3px;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  position: absolute;
  right: 0;
  font-size: 12px;
}

.theme__list.hidden {
  display: none;
}

.theme__list-item {
  width: 100%;
}

.theme-btn {
  width: 100%;
  border: none;
  background-color: transparent;
  color: white;
  transition: background-color 300ms ease;
  display: flex;
  justify-content: flex-end;
  gap: 3px;
  padding: 3px;
  border-radius: 5px;
}

.theme-btn:hover,
.theme-btn:focus,
.current-theme {
  background-color: white;
  color: black;
}

.light-theme-btn::before {
  content: "";
  background-image: url("../images/sun.svg");
  background-size: contain;
  width: 12px;
  height: 12px;
  display: block;
}

.dark-theme-btn::before {
  content: "";
  background-image: url("../images/moon.svg");
  background-size: contain;
  width: 12px;
  height: 12px;
  display: block;
}

.light-theme-btn:hover.light-theme-btn::before,
.light-theme-btn:focus.light-theme-btn::before,
.current-theme.light-theme-btn::before {
  content: "";
  background-image: url("../images/sun-dark.svg");
  background-size: contain;
  width: 12px;
  height: 12px;
  display: block;
}

.dark-theme-btn:hover.dark-theme-btn::before,
.dark-theme-btn:focus.dark-theme-btn::before,
.current-theme.dark-theme-btn::before {
  content: "";
  background-image: url("../images/moon-dark.svg");
  background-size: contain;
  width: 12px;
  height: 12px;
  display: block;
}

html.dark .theme__on {
  background-image: url(../images/sun.svg);
  background-size: contain;
}

html.light .theme__on {
  background-image: url(../images/moon.svg);
  background-size: contain;
}

html.dark body {
  background-color: rgb(55, 54, 54);
  color: white;
}

html.light body {
  background-color: white;
  color: black;
}

html.dark .movie-gallery__title {
  color: white;
}

html.dark .footer {
  color: white;
  background-color: rgb(38, 38, 38);
}

html.dark .loader {
  filter: invert(1);
}

.trailer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.trailer-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.trailer-backdrop.is-hidden .trailer-box {
  transform: translate(-50%, -50%) scale(0.0001);
}

.trailer-box {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 30px;
  /* overflow: auto; */
  background-color: #ffffff;
  border-radius: 22px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .trailer-box {
    padding: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .trailer-box {
    padding: 50px;
  }
}

.trailer-btn__close {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .trailer-btn__close {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .trailer-btn__close {
    width: 50px;
    height: 50px;
  }
}

.trailer-btn__close:hover,
.trailer-btn__close:focus {
  background-color: #ff6b08;
}

.trailer-iframe {
  display: block;
  width: 256px;
  height: 144px;
}
@media screen and (min-width: 480px) {
  .trailer-iframe {
    min-width: 320px;
    min-height: 180px;
  }
}
@media screen and (min-width: 768px) {
  .trailer-iframe {
    min-width: 640px;
    min-height: 360px;
  }
}
@media screen and (min-width: 1280px) {
  .trailer-iframe {
    min-width: 854px;
    min-height: 480px;
  }
}/*# sourceMappingURL=index.css.map */