.pagination-list{
    margin-top: 60;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10;
}

.pgn-current{
    background-color: #ff6b08;
    color: #ffffff;
    border: none;
}

.pgn-btn{
    min-width: 40;
    height: 40;
    border-radius: 5;
    border-color: transparent;
}

.pgn-btn:hover{
    background-color: #ff6b08;
    color: #ffffff;
    fill: #ffffff
}

.next{
    padding: 0;
}


.pgn-dots{
    display: none;
}

.last-number{
    display: none;
}

.first-number{
    display: none;
}


@media screen and (min-width: 768px) {
    .pgn-dots{
        display: block;
    width: 32;
    height: 40;
    text-align: center;
    font-size: 24;
}

.last-number{
    display: block;
}

.first-number{
    display: block;
}

.pgn-mobile{
    display: none;
}
}

// @media screen and (min-width: 1280px) {
//     .container {
//         width: 1280px;
//         padding-left: 32px;
//         padding-right: 32px;
//         margin: 0 auto;
//     }
// }