.pagination-list,
.paginatio-genres-list {
    margin-top: 60;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10;
}

.paginatio-input-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10;
}

.pgn-current {
    background-color: #ff6b08;
    color: #ffffff;
    border: none;
}

.pgn-btn {
    min-width: 40;
    height: 40;
    border-radius: 5;
    border-color: transparent;
}

.pgn-btn:hover {
    background-color: #ff6b08;
    color: #ffffff;
    fill: #ffffff;
}

.next:hover {
    background-color: #ff6b08;
    color: #ffffff;
    fill: #ffffff;
}

.pgn-dots {
    display: none;
}

.last-number {
    display: none;
}

.first-number {
    display: none;
}

@media screen and (min-width: 768px) {
    .pgn-dots {
        display: block;
    }

    .pagination-list {
        margin-top: 60;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10;
    }

    .pgn-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40;
        height: 40;
        border-radius: 5;
        border-color: transparent;
        border-width: 3px;
        background-color: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    // .next,
    // .previos {
    //   padding: 10px;
    //   fill: #000000;
    //   background-color: #f7f7f7;
    //   min-width: 40;
    //   height: 40;
    // }
    .pgn-btn:hover,
    .pgn-btn:focus,
    .next:hover,
    .previos:hover,
    .next:focus,
    .previos:focus {
        background-color: #ff6b08;
        color: white;
        fill: #ffffff;
    }
}
@media screen and (min-width: 768px) {
    .pgn-dots {
        display: block;
    }

    .last-number {
        display: block;
    }

    .first-number {
        display: block;
    }

    .pgn-mobile {
        display: none;
    }
}
.pgn-current {
    background-color: #ff6b08;
    color: #ffffff;
    border: none;
}
// @media screen and (min-width: 1280px) {
//     .container {
//         width: 1280px;
//         padding-left: 32px;
//         padding-right: 32px;
//         margin: 0 auto;
//     }
// }

html.dark .next,
html.dark .previos {
    fill: #ffffff;
    background-color: #000000;
}

// html.dark .pgn-btn:hover,
// html.dark .pgn-btn:focus,
// html.dark .next:hover,
// html.dark .previos:hover,
// html.dark .next:hover,
// html.dark .previos:hover {
//    background-color: #ff6b08;
//    color: rgb(255, 255, 255);
//    fill: #ffffff;
//  }
html.dark .pgn-btn {
    color: white;
}
