<main id="main-home" class="main-home">
  <div class="container">
    <div class="loader-wrap">
      <img src="./images/loader.gif" alt="" class="loader" />
    </div>
    <ul class="movie-gallery">
      <!-- картки -->
    </ul>
    <ul class="pagination-list">
      <!-- Пагинация -->
    </ul>
    <ul class="paginatio-input-list">
      <!-- Пагинация -->
    </ul>
    <div class="backdrop is-hidden">
      <div class="modal">
        <img src="./images/modal_close.svg" class="modal__close-btn" width="30" height="30" alt="" />

        <div class="modal-container"></div>
      </div>
    </div>
  </div>
</main>