<main id="main-gallery" class="main-gallery">
  <div class="container">
    <ul class="films-gallery">
      <!-- <li class = "films-gallery__item">
        <div class="films-gallery__poster">
          <img
            class="films-gallery__photo"
            src="./images/example.png"
            alt="Example photo"
          />
        </div>
        <div class="films-gallery__wrap">
          <h2 class="films-gallery__title">GREYHOUND</h2>
          <div class="film-info">
            <p class="film-info__genre">Drama, Action |</p>
            <p class="film-info__year">2020</p>
          </div>
        </div>
      </li class = "">
      <li class="films-gallery__item">
        <div class="films-gallery__poster">
          <img
            class="films-gallery__photo"
            src="./images/example.png"
            alt="Example photo"
          />
        </div>
        <div class="films-gallery__wrap">
          <h2 class="films-gallery__title">GREYHOUND</h2>
          <div class="film-info">
            <p class="film-info__genre">Drama, Action |</p>
            <p class="film-info__year">2020</p>
          </div>
        </div>
      </li>
      <li class = "films-gallery__item">
        <div class="films-gallery__poster">
          <img
            class="films-gallery__photo"
            src="./images/example.png"
            alt="Example photo"
          />
        </div>
        <div class="films-gallery__wrap">
          <h2 class="films-gallery__title">GREYHOUND</h2>
          <div class="film-info">
            <p class="film-info__genre">Drama, Action |</p>
            <p class="film-info__year">2020</p>
          </div>
        </div>
      </li>
      <li class = "films-gallery__item">
        <div class="films-gallery__poster">
          <img
            class="films-gallery__photo"
            src="./images/example.png"
            alt="Example photo"
          />
        </div>
        <div class="films-gallery__wrap">
          <h2 class="films-gallery__title">GREYHOUND</h2>
          <div class="film-info">
            <p class="film-info__genre">Drama, Action |</p>
            <p class="film-info__year">2020</p>
          </div>
        </div>
      </li>
      <li class = "films-gallery__item">
        <div class="films-gallery__poster">
          <img
            class="films-gallery__photo"
            src="./images/example.png"
            alt="Example photo"
          />
        </div>
        <div class="films-gallery__wrap">
          <h2 class="films-gallery__title">GREYHOUND</h2>
          <div class="film-info">
            <p class="film-info__genre">Drama, Action |</p>
            <p class="film-info__year">2020</p>
          </div>
        </div>
      </li>
      <li class = "films-gallery__item">
        <div class="films-gallery__poster">
          <img
            class="films-gallery__photo"
            src="./images/example.png"
            alt="Example photo"
          />
        </div>
        <div class="films-gallery__wrap">
          <h2 class="films-gallery__title">GREYHOUND</h2>
          <div class="film-info">
            <p class="film-info__genre">Drama, Action |</p>
            <p class="film-info__year">2020</p>
          </div>
        </div>
      </li>
      <li class = "films-gallery__item">
        <div class="films-gallery__poster">
          <img
            class="films-gallery__photo"
            src="./images/example.png"
            alt="Example photo"
          />
        </div>
        <div class="films-gallery__wrap">
          <h2 class="films-gallery__title">GREYHOUND</h2>
          <div class="film-info">
            <p class="film-info__genre">Drama, Action |</p>
            <p class="film-info__year">2020</p>
          </div>
        </div>
      </li> -->
    </ul>
  </div>
</main>
