<main id="main-home" class="main-home">
  <div class="container">
    <div class="loader-wrap">
      <img src="./images/loader-light-theme.gif" alt="" class="loader" />
    </div>
    <ul class="movie-gallery">
      <!-- картки -->
    </ul>
    <ul class="pagination-list">
      <!-- Пагинация -->
    </ul>
    <div class="backdrop is-hiden">
      <div class="modal">
        <button class="modal__close-btn" type="button">
          <img src="./images/modal_close.svg" width="30" height="30" alt="" />
        </button>
        <div class="modal-container"></div>
        <button data-id="${movie.id}" class="modal__trailers-btn" type="button">
          <img
            class="modal__trailers-btn--icon"
            src="./images/trailer.svg"
            width="30"
            height="30"
          />
        </button>
      </div>
    </div>
  </div>
</main>
