<main id="main-gallery" class="main-gallery">
  <div class="card-wraper container">
    <ul class="films-gallery list">
      <li>
        <img
          class="card-photo"
          src="./images/example.png"
          alt="Example photo"
        />
        <div class="description">
          <p class="card-desc">GREYHOUND</p>
          <p class="card-span">Drama, Action | 2020</p>
        </div>
      </li>
      <li>
        <img
          class="card-photo"
          src="./images/example.png"
          alt="Example photo"
        />
        <div class="description">
          <p class="card-desc">GREYHOUND</p>
          <p class="card-span">Drama, Action | 2020</p>
        </div>
      </li>
      <li>
        <img
          class="card-photo"
          src="./images/example.png"
          alt="Example photo"
        />
        <div class="description">
          <p class="card-desc">GREYHOUND</p>
          <p class="card-span">Drama, Action | 2020</p>
        </div>
      </li>
      <li>
        <img
          class="card-photo"
          src="./images/example.png"
          alt="Example photo"
        />
        <div class="description">
          <p class="card-desc">GREYHOUND</p>
          <p class="card-span">Drama, Action | 2020</p>
        </div>
      </li>
      <li>
        <img
          class="card-photo"
          src="./images/example.png"
          alt="Example photo"
        />
        <div class="description">
          <p class="card-desc">GREYHOUND</p>
          <p class="card-span">Drama, Action | 2020</p>
        </div>
      </li>
      <li>
        <img
          class="card-photo"
          src="./images/example.png"
          alt="Example photo"
        />
        <div class="description">
          <p class="card-desc">GREYHOUND</p>
          <p class="card-span">Drama, Action | 2020</p>
        </div>
      </li>
    </ul>
  </div>
</main>
