<div class="team-backdrop js-team-backdrop">
  <div class="team-modal">
    <h2 class="team-title">
      <span class="team-text">JSnake</span><span class="team-text">Team</span>
    </h2>
    <button
      type="button"
      class="team-button-close glowing-btn"
      data-action="close-modal"
    >
      <span class="glowing-txt">C<span class="faulty-letter">L</span>OSE</span>
    </button>
    <div class="card-wrapper">
      <div class="main-container">
        <div class="card-container">
          <a href="#"
            ><img
              src="./images/AnnaK.jpg"
              class="team-card"
              width="230"
              height="340"
          /></a>
        </div>
        <div class="team-info">
          <div class="team-content">
            <h3 class="team-name">Анна Крисенко</h3>
            <p class="team-position">Team-lead/Developer</p>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="card-container">
          <a href="#"
            ><img
              src="./images/AnnaD.jpg"
              class="team-card"
              width="230"
              height="340"
          /></a>
        </div>
        <div class="team-info">
          <div class="team-content">
            <h3 class="team-name">Анна Денисова</h3>
            <p class="team-position">Developer</p>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="card-container">
          <a href="#"
            ><img
              src="./images/SergS.jpg"
              class="team-card"
              width="230"
              height="340"
          /></a>
        </div>
        <div class="team-info">
          <div class="team-content">
            <h3 class="team-name">Сергій Соловйов</h3>
            <p class="team-position">Developer</p>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="card-container">
          <a href="#"
            ><img
              src="./images/SergK.jpg"
              class="team-card"
              width="230"
              height="340"
          /></a>
        </div>
        <div class="team-info">
          <div class="team-content">
            <h3 class="team-name">Сергій Казакевич</h3>
            <p class="team-position">Developer</p>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="card-container">
          <a href="#"
            ><img
              src="./images/MaxK.jpg"
              class="team-card"
              width="230"
              height="340"
          /></a>
        </div>
        <div class="team-info">
          <div class="team-content">
            <h3 class="team-name">Максим Коворотний</h3>
            <p class="team-position">Developer</p>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="card-container">
          <a href="#"
            ><img
              src="./images/VasylT.jpeg"
              class="team-card"
              width="230"
              height="340"
          /></a>
        </div>
        <div class="team-info">
          <div class="team-content">
            <h3 class="team-name">Василь Теглівець</h3>
            <p class="team-position">Developer</p>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="card-container">
          <a href="#"
            ><img
              src="./images/AndriiY.jpg"
              class="team-card"
              width="230"
              height="340"
          /></a>
        </div>
        <div class="team-info">
          <div class="team-content">
            <h3 class="team-name">Андрій Єщенко</h3>
            <p class="team-position">Developer</p>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="card-container">
          <a href="#"
            ><img
              src="./images/OlSol.jpg"
              class="team-card"
              width="230"
              height="340"
          /></a>
        </div>
        <div class="team-info">
          <div class="team-content">
            <h3 class="team-name">Олександр Соловйов</h3>
            <p class="team-position">Scrum-master/Developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
